<?xml version='1.0' encoding='utf-8'?>
<widget id="com.alraislabs.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Alrais Labs</name>
    <description>
        Alrais Labs, Calicut
    </description>
    <author email="asim@alrais.com" href="http://alraislabs.com">
        Asim KT
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
